
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <%= @post.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Overtime App Notification", sticky: false, time: 3000) %>
    <%end%>
  <%end%>
 
<div class="form-group">
  <li class='input-group date' id='datetimepicker1'>
    <%=f.label :date %><br>
    <%=f.date_field :date, class: "form-control"  %>
  </li>
</div>
<div class="form-group">
  <li>
    <%=f.label :rationale %><br>
    <%=f.text_area :rationale, class: "form-control" %>
  </li>
</div>

     <%= f.submit "Save",class: "btn btn-primary btn-block"%>
<%end%>







  